.home-heading-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    padding-right: 10%; 
    color: #e6f7ff;
    padding-left: 10%;
}
  
.home-chart-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    padding-right: 10%; 
    color: #e6f7ff;
    padding-left: 10%;
}

.home-title {
    font-size: 1.4rem !important;
}
  
.show-more {
    font-size: 1.3rem !important;
    padding-top: 20px;
}

.home-general-stats{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: '100%'
}