:root {
  --text-primary:#000;
  --bgPrimary:rgb(90, 86, 86);
  --bgSecondary:#dadada;
  --pink:#0071bd;
  --navbar: #6e5efe;
  --light-blue:#e6f7ff;
  --border:#b4b4b4;
}


.coin-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 12px;
  
    .coin-name {
      font-weight: 800;
      color: var(--navbar);
    }
  
    p {
      font-size: 1rem;
      opacity: 0.8;
      margin-bottom: 20px;
    }
}
  
.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  
    h2 {
      font-weight: 700;
      font-size: 1.4rem;
      margin-top: 20px;
      color: var(--pink);
    }
}
  
.coin-value-statistics-heading p {
    font-size: 1rem;
    opacity: 0.9;
}
  
.coin-details-heading {
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: var(--navbar) !important;
}
  
.coin-stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;
}
  
.coin-stats-name {
    display: flex;
    gap: 10px;
    font-size: 1rem;
}
  
.stats {
    font-weight: 700;
}


.coin-desc-link {
    display: flex;
    gap: 40px;
    margin-top: 45px;
    padding-top: 20px;
  
    h2 {
      font-weight: 600;
      color: var(--pink);
    }
  
    p {
      font-size: 1rem;
      opacity: 0.85;
    }
  
    a {
      color: var(--pink);
    }
  
    h3 {
      font-weight: 700;
    }
}
  
.coin-desc {
    flex: 0.5;
}

.coin-links {
    padding: 0px 25px;
    flex: 0.5;
}
  
.coin-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}
  
.link-name {
    text-transform: capitalize;
    font-size: 1rem;
}
  
.coin-link {
    a {
      color: var(--navbar);
      font-weight: 700;
      font-size: 1rem;
    }
  
    &:hover {
      background-color: #cfcfe1;
    }
}
  
.coin-stats:hover {
    background-color: #cfcfe1;
}

.coin-detail-container {
    margin: 70px;
}

.select-timeperiod{
  width: 200px !important;
  margin-top: 20px !important;
  align-content: flex-end;
}