:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    color: var(--pink) !important;
}

.app{
    width: 100%;
    align-self: center;
    margin: auto;
    flex-direction: column;
}

.navbar{
    background-color: #9ec2ff;
    flex-direction: row;
}

.main{
    width: 100%;  
}   

.logo-container{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.menu-container{
    background-color: #9ec2ff !important;
    display: flex;
    padding: 20px;
    flex-direction: row;
}

.footer {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.home-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.home-title{
    font-size: 1.4rem !important;
}
.show-more{
    font-size: 1.3rem !important;
    padding-top: 20px;
}
@media screen and (max-width:1300px){
}
/** SCROLL BAR **/

body::-webkit-scrollbar {
    width: 0.25rem;
}
  
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
  
body::-webkit-scrollbar-thumb {
    background: #6e5efe;
}



/** Cryptocurrencies */
.crypto-table-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}
